services:
  postgres:
    image: postgres:16.0
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
    networks:
      - keycloak-network
    environment:
      POSTGRES_USER: keycloak #$POSTGRES_USER
      POSTGRES_PASSWORD: Password123 #$POSTGRES_PASSWORD
      POSTGRES_DB: keycloak #$POSTGRES_DB

  keycloak:
    image: quay.io/keycloak/keycloak:26.5
    container_name: keycloak
    restart: always
    ports:
      - "8080:8080"
      - "8443:8443"
    depends_on:
      - postgres
    command:
      - start
    networks:
      - keycloak-network
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABSE: keycloak #$POSTGRES_USER
      KC_DB_USERNAME: keycloak #$POSTGRES_DB
      KC_DB_PASSWORD: Password123 #$POSTGRES_PASSWORD
      KC_HTTP_ENABLED: true
      KC_PROXY_HEADERS: xforwarded
      KC_PROXY_ADDRESS_FORWARDING: true
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HOSTNAME: site-domain.com #$KC_HOSTNAME_URL
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: Password123 #$KEYCLOAK_ADMIN_PASSWORD

  nginx:
    image: nginx:latest
    container_name: nginx
    environment:
      - KEYCLOAK_HOSTNAME=site-domain.com #$KEYCLOAK_HOSTNAME
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - keycloak
    networks:
      - keycloak-network

networks:
  keycloak-network:
    driver: bridge
